In [1]:
import pandas as pd

# Data Set  1:
collection of tweets labeled as 0: -> does not contain hate speech, 1-> contains hate speech


https://www.kaggle.com/arkhoshghalb/twitter-sentiment-analysis-hatred-speech

In [5]:
hsp_1 = pd.read_csv('hate_Sp_train.csv')

In [6]:
hsp_1.head()

   id  label                                              tweet
0   1      0   @user when a father is dysfunctional and is s...
1   2      0  @user @user thanks for #lyft credit i can't us...
2   3      0                                bihday your majesty
3   4      0  #model   i love u take with u all the time in ...
4   5      0             factsguide: society now    #motivation

In [9]:
hsp_1.shape

(31962, 3)

In [20]:
hsp_1.isnull().sum()

id       0
label    0
tweet    0
dtype: int64

In [23]:
hsp_1.duplicated().sum()

0

In [70]:
# number of tweets labeled 'not hate speech':
nbr_nh1 = len(hsp_1[hsp_1['label'] == 0])

# number of tweets labeled 'hate speech'
nbr_h1 = len(hsp_1[hsp_1['label'] == 1])

percent_nh1 = nbr_nh1/len(hsp_1) * 100
percent_h1 = nbr_h1/len(hsp_1) * 100

print(f'Hate speech detected in {percent_h1} of tweets. Not detected in {percent_nh1} of tweets.')

Hate speech detected in 7.014579813528565 of tweets. Not detected in 92.98542018647143 of tweets.

# Dataset 2:

https://github.com/t-davidson/hate-speech-and-offensive-language/tree/master/data

Data guide:

The data are stored as a CSV and as a pickled pandas dataframe (Python 2.7). Each data file contains 5 columns:

count = number of CrowdFlower users who coded each tweet (min is 3, sometimes more users coded a tweet when judgments were determined to be unreliable by CF).

hate_speech = number of CF users who judged the tweet to be hate speech.

offensive_language = number of CF users who judged the tweet to be offensive.

neither = number of CF users who judged the tweet to be neither offensive nor non-offensive.

class = class label for majority of CF users.
0 - hate speech,
1 - offensive language,
2 - neither

In [29]:
hsp_2 = pd.read_csv('more_Hate_sp_labeled_data.csv')

In [30]:
hsp_2.head()

,Unnamed: 0,count,hate_speech,offensive_language,neither,class,tweet
0,0,3,0,0,3,2,!!! RT @mayasolovely: As a woman you shouldn't...
1,1,3,0,3,0,1,!!!!! RT @mleew17: boy dats cold...tyga dwn ba...
2,2,3,0,3,0,1,!!!!!!! RT @UrKindOfBrand Dawg!!!! RT @80sbaby...
3,3,3,0,2,1,1,!!!!!!!!! RT @C_G_Anderson: @viva_based she lo...
4,4,6,0,6,0,1,!!!!!!!!!!!!! RT @ShenikaRoberts: The shit you...

In [33]:
hsp_2.shape

(24783, 7)

In [35]:
hsp_2.isnull().sum()

Unnamed: 0            0
count                 0
hate_speech           0
offensive_language    0
neither               0
class                 0
tweet                 0
dtype: int64

In [36]:
hsp_2.duplicated().sum()

0

In [52]:
# of tweets labeled not hate speech = hate speech column value is 0:
nbr_nh2 = len(hsp_2[hsp_2['hate_speech'] == 0])

# of tweets labeled hate speech = hate speech column value is greater than 0:
nbr_h2 = len(hsp_2[hsp_2['hate_speech'] > 0])

percent_nh2 = nbr_nh2/len(hsp_2) * 100
percent_h2 = nbr_h2/len(hsp_2) * 100

print(f'Hate speech detected in {percent_h2} of tweets. Not detected in {percent_nh2} of tweets.')

Hate speech detected in 20.1468748739055 of tweets. Not detected in 79.85312512609451 of tweets.

In [83]:
# nbr tweets that were labeled as either offensive language and/or hate speech

len(hsp_2[hsp_2['neither'] != hsp_2['count']])

21911

In [89]:
# nbr of tweets labaled as both offensive language and hate speech

cond1 = hsp_2['hate_speech'] > 0
cond2 = hsp_2['offensive_language'] > 0
len(hsp_2[cond1 & cond2])

4390

# Dataset 3: 
collection of texts classified as hate speech

These texts were all labeled as "hate" but are later classified as model_wrong = True(was not actually hate speech) or as model_wrong = False(classified to be hate speech)

https://www.kaggle.com/usharengaraju/dynamically-generated-hate-speech-dataset

In [53]:
hsp_3 = pd.read_csv('2020-12-31-DynamicallyGeneratedHateDataset-entries-v0.1.csv')

In [54]:
hsp_3.head()

,Unnamed: 0,id,text,label,type,model_wrong,db.model_preds,status,round,split,annotator
0,1,10000,It should be legal for a husband to rape his wife,hate,notgiven,True,0.97457,dynabench entry,1,train,gnzuctwed3
1,2,10001,dalits are lowlife scum,hate,notgiven,False,0.08233,dynabench entry,1,test,cagnluiznm
2,3,10002,dalits are lowlives,hate,notgiven,True,0.92319,dynabench entry,1,train,cagnluiznm
3,4,10003,It was a better world when women dare not ques...,hate,notgiven,True,0.99006,dynabench entry,1,test,gnzuctwed3
4,5,10004,I don't work this hard so that those immigrant...,hate,notgiven,True,0.98836,dynabench entry,1,train,cagnluiznm

In [56]:
hsp_3.shape

(40623, 11)

In [62]:
hsp_3.isnull().sum()

Unnamed: 0            0
id                    0
text                  0
label                 0
type                  0
model_wrong       14526
db.model_preds    14526
status                0
round                 0
split                 0
annotator             0
dtype: int64

In [66]:
hsp_3 = hsp_3.dropna()
hsp_3.shape

(26097, 11)

In [68]:
hsp_3.duplicated().sum()

0

In [69]:
# of tweets labeled not hate speech: model_wrong == True:
nbr_nh3 = len(hsp_3[hsp_3['model_wrong'] == True])

# of tweets labeled hate speech: model_wrong == False:
nbr_h3 = len(hsp_3[hsp_3['model_wrong'] == False])

percent_nh3 = nbr_nh3/len(hsp_3) * 100
percent_h3 = nbr_h3/len(hsp_3) * 100

print(f'Hate speech detected in {percent_h3} of tweets. Not detected in {percent_nh3} of tweets.')

Hate speech detected in 40.851438862704526 of tweets. Not detected in 59.148561137295474 of tweets.

In [73]:
# make dataframe with counts / percentages of hate-labeled vs non-hate-labaled for all 3 datasets:

data = {'Name': ['Dataset_1','Dataset_2','Dataset_3'],
        'Total_Entries': [len(hsp_1), len(hsp_2), len(hsp_3)],
        'Total_Labeled_Non_Hate': [nbr_nh1, nbr_nh2, nbr_nh3],
        'Total_Labeled_Hate':[nbr_h1, nbr_h2, nbr_h3],
        'Percentage_of_Entries_Labeled_Hate_Speech': [percent_h1, percent_h2, percent_h3]
        }

df = pd.DataFrame(data, columns = ['Name', 'Total_Entries', 'Total_Labeled_Non_Hate', 'Total_Labeled_Hate',
                'Percentage_of_Entries_Labeled_Hate_Speech'])

In [74]:
df

,Name,Total_Entries,Total_Labeled_Non_Hate,Total_Labeled_Hate,Percentage_of_Entries_Labeled_Hate_Speech
0,Dataset_1,31962,29720,2242,7.014580
1,Dataset_2,24783,19790,4993,20.146875
2,Dataset_3,26097,15436,10661,40.851439