In [1]:
import pandas as pd

# Data Set Candidate 1:
collection of tweets labeled as 0: -> does not contain hate speech, 1-> contains hate speech

In [5]:
hsp_1 = pd.read_csv('hate_Sp_train.csv')

In [6]:
hsp_1.head()

   id  label                                              tweet
0   1      0   @user when a father is dysfunctional and is s...
1   2      0  @user @user thanks for #lyft credit i can't us...
2   3      0                                bihday your majesty
3   4      0  #model   i love u take with u all the time in ...
4   5      0             factsguide: society now    #motivation

In [9]:
hsp_1.shape

(31962, 3)

In [20]:
hsp_1.isnull().sum()

id       0
label    0
tweet    0
dtype: int64

In [23]:
hsp_1.duplicated().sum()

0

In [28]:
# number of tweets labeled 'not hate speech':
nbr_nh = len(hsp_1[hsp_1['label'] == 0])

# number of tweets labeled 'hate speech'
nbr_h = len(hsp_1[hsp_1['label'] == 1])

percent_nh = nbr_nh/len(hsp_1) * 100
percent_h = nbr_h/len(hsp_1) * 100

print(f'Hate speech detected in {percent_h} of tweets. Not detected in {percent_nh} of tweets.')

Hate speech detected in 7.014579813528565 of tweets. Not detected in 92.98542018647143 of tweets

2242

In [ ]:
per

In [24]:
hsp_2 = pd.read_csv('more_Hate_sp_labeled_data.csv')

In [ ]:
hsp_2